body {
    background-color: #0E1113;
    color: #fff;
    font-family: sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    font-weight: bold;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#title,
#content {
    width: 600px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #dddddd7c;
    border-radius: 15px;
    background-color: #28282800;
    color: #fff;
}

#title {
    height: 30px;
}

#title:hover,
#content:hover {
    background-color: #181C1F;
}

textarea {
    height: 200px;
}

.btn-group {
    display: flex;
    justify-content: right;
}

button[type='submit'] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select {
    position: relative;
    min-width: 200px;
}

.select svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select select {
    -webkit-appearance: none;
    padding: 15px 40px 15px 20px;
    width: 100%;
    border: none;
    border-radius: 25px;
    background: #2A3236;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: white;
}

.select select:required:invalid {
    color: white;
}

.select select option {
    color: white;
}

.select select option {
    color: white;
}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
    border-color: white;
}

.select select:hover {
    background: #333D42;
}

.select select:hover+svg {
    stroke: white;
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.select-items,
.select-selected {
    color: white;
}

.select select option {
    color: white;
}

.upload-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #1a1a1b;
    border: 1px dashed #343536;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #d7dadc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
    overflow: hidden;
    height: auto;
    /* Let JavaScript control the height dynamically */
    aspect-ratio: 16 / 8;
    /* Default aspect ratio before image upload */
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.upload-label {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 8px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.upload-icon {
    background-color: #343536;
    color: #d7dadc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.upload-container:hover {
    border-color: #d7dadc;
}

.preview-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    z-index: 1;
    opacity: 0.5;
}

.image-preview {
    position: relative;
    max-height: 100%;
    max-width: 90%;
    z-index: 2;
    object-fit: contain;
}

.delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #0e11136e;
}