body {
    font-family: Arial, sans-serif;
    background-color: #1A1A1B;
    color: #d7dadc;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1b;
    padding: 10px 20px;
    border-bottom: 1px solid #343536;
    height: 35px;
}

/* Header */
a {
    color: #d7dadc;
    text-decoration: none;
}

hr {
    border: none;
    background-color: #616161;
    color: #616161;
    height: 1px;
}

.logos {
    display: flex;
    padding: 7px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border-radius: 8px;
}

.logo img {
    height: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.fpt-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 40px;
    margin-left: 10px;
    background-color: white;
    border-radius: 8px;
}

.fpt-logo img {
    height: 40px;
}

.home {
    margin: 5px;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #343536;
    background-color: #2A3236;
    color: #d7dadc;
    width: 60vh;
    height: 40px;
    margin-right: 20px;
}

.search-bar.show-clear #clear {
    display: block;
}

#clear {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#search {
    position: absolute;
    padding: 10px;
}

.search-bar input {
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: #2A3236;
    color: #d7dadc;
    width: 60vh;
    height: 40px;
}

.profile {
    display: flex;
    position: relative;
}

.profile form {
    margin: 0;
    display: flex;
    align-items: center;
}

.header-avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 0px 0px 10px;
}

.header-avatar:hover {
    cursor: pointer;
}

.avatar-hover-box {
    display: none;
    position: absolute;
    top: 120%;
    left: -55px;
    background-color: #131F23;
    border-radius: 10px;
    z-index: 1;
    width: 200px;
}

.add-post {
    padding: 12px 14px 12px 14px;
    background-color: #1A1A1B;
    border: none;
    border-radius: 25px;
    color: white;
}

.add-post:hover {
    background-color: #555F66;
    cursor: pointer;
}

.profile li {
    display: flex;
    align-items: center;
    background: #131F23;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.profile li:hover {
    background-color: #555F66;
    cursor: pointer;
}

/* Body */
main {
    display: flex;
    padding: 20px;
}

.recent-access {
    position: fixed;
    top: 120px;
    right: 20px;
    height: 30vh;
    width: 10%;
    padding: 20px;
    background-color: #04090A;
    border-radius: 10px;
    min-width: 20vh;
}

.sidebar {
    position: fixed;
    width: 15%;
    top: 56px;
    left: 0;
    background-color: #1A1A1B;
    border-right: 1px solid #343536;
    min-width: 30vh;
    height: 100vh;
}

.modules {
    height: 80vh;
    overflow-y: scroll;
}

.home, .modules {
    display: flex;
    flex-direction: column;
}

.sidebar a {
    background-color: #1A1A1B;
    color: white;
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: smaller;
}

.modules {
    margin-left: 10px;
}

.sidebar a:hover {
    background-color: #555F66;
}


::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6E6F71;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Posts */
.content {
    position: relative;
    width: 70%;
    top: 40px;
    margin: 0px 600px 0px 600px;
}

.post {
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}

.post:hover {
    background-color: #04090A;
}

.post h2 {
    margin-bottom: 0;
}

.post-details span {
    display: inline-block;
    margin-right: 10px;
    color: #818384;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.post-header {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.post-header a {
    display: flex;
}

.post-header a span {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.username {
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
    color: #888;
    font-weight: bold;
}

.title-module {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-right: 5px;
}

.post-module {
    font-size: 12px;
    color: #888;
    font-weight: bold;
    margin-left: 5px;
}

.post-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: left;
}

.post-content p {
    margin-top: 0px;
}

.image-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensures no overflow if the image is larger */
    border-radius: 25px;
    z-index: 1;
}

.image-container img[src="../images/posts/default_image.jpg"] {
    display: none;
}

.back-post-image {
    position: absolute;
    width: 100%;
    filter: blur(10px);
    z-index: 1;
}

.post-image {
    width: 60%;
    position: relative;
    object-fit: cover;
    z-index: 2;
}

.post-details {
    display: flex;
}

.post-details div {
    margin-left: 10px;
}

.post-details div span {
    margin: 0;
}

.post-details button, .edit-button, .discard-button, .confirm-button {
    height: 37px;
    width: 50px;
    color: white;
    background-color: #333D42;
    border: 1px solid #333D42;
    border-radius: 25px;
    padding: 10px;
}

.edit-button, .discard-button, .confirm-button {
    margin-left: 10px;
    width: 37px;
}

.post-details button:hover, .edit-button:hover, .discard-button:hover, .confirm-button:hover {
    background-color: #293339;
    cursor: pointer;
}

.post-tool {
    display: flex;
    margin-right: 10px;
}

.post-tool button {
    width: 37px;
    margin-left: 10px;
}

.up-down {
    display: flex;
    background-color: #333D42;
    border-radius: 25px;
}

/* Profile */
.profile-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 15vh;
    background-color: #1A1A1B;
    border-bottom: 1px solid #616161;
    z-index: 998;
    top: 56px;
    padding: 30px 30px 0px 60px;
    left: 0;
    right: 0;
    margin: 0px 600px 10px 600px;
}

.profile-header {
    display: flex;
}

.profile-avatar {
    width: 70px;
    height: 70px;
    background-color: #d3d3d3;
    object-fit: cover;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    height: 70px;
    justify-content: center;
}

.nav-bar {
    margin-top: 15px;
}

.tablinks {
    background-color: #1A1A1B;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px; 
    padding: 10px;
    border-radius: 25px;
    font-size: small;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.tablinks:hover {
    background-color: #555F66;
}

.tablinks.active {
    background-color: #333D42;
}

.tabcontent {
    display: none;
}

/* Edit Profile */
.personal-info {
    border-bottom: 1px solid #343536;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.edit-profile form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.edit-profile form a {
    position: relative;
    margin: 10px;
}

.edit-profile form input {
    display: none;
    position: relative;
    width: 400px;
    margin: 3px;
    padding: 8px;
    border: 1px solid #dddddd7c;
    border-radius: 15px;
    background-color: #28282800;
    color: #fff;
}


/* Upload img */
.upload-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #1a1a1b;
    border: 1px dashed #343536;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #d7dadc;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
    overflow: hidden;
    height: auto;
    /* Let JavaScript control the height dynamically */
    aspect-ratio: 16 / 8;
    /* Default aspect ratio before image upload */
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.upload-label {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 8px;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.upload-icon {
    background-color: #343536;
    color: #d7dadc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.upload-container:hover {
    border-color: #d7dadc;
}

.preview-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    z-index: 1;
    opacity: 0.5;
}

.image-preview {
    position: relative;
    max-height: 100%;
    max-width: 90%;
    z-index: 2;
    object-fit: contain;
}

.delete-button {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    color: white;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #0e11136e;
}
/* Select */
.select {
    position: relative;
    min-width: 200px;
}

.select svg {
    position: absolute;
    right: 20px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select select {
    -webkit-appearance: none;
    padding: 10px 70px 10px 10px;
    width: 100%;
    border: none;
    border-radius: 25px;
    background: #2A3236;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
    color: white;
}

.select select:required:invalid {
    color: white;
}

.select select option {
    color: white;
}

.select select option {
    color: white;
}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
    border-color: white;
}

.select select:hover {
    background: #333D42;
}

.select select:hover+svg {
    stroke: white;
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.select-items,
.select-selected {
    color: white;
}

.select select option {
    color: white;
}